@import "tailwindcss";

body{
  font-family: Poppins,sans-serif;
}


.swiper_container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 2rem 0;
  position: relative;
  overflow: hidden;
}